---
layout: default
---

  {% include product-hero.html case="product-detail" %}
  <div class="bb-ambient-paver">
    <div class="container-fluid" >
      <div class="bb-gallery-detail pt-3">
        <div class="bb-product-desc-area">
          <div>
            <a href="#" class="float-right"><i class="fa fa-angle-left"></i>&nbsp; Return to previous page</a>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Bricks</a></li>
              <li class="breadcrumb-item active" aria-current="page">Product Name</li>
            </ol>
            <h1>Product Name</h1>
            <p>Product Number</p>
            <img src="https://via.placeholder.com/300x225/666/555/?text=Placeholder+Image" alt="" class="bb-gallery-detail-img">
          </div>
        </div>
        <div class="bb-product-list-area">
          <img src="https://via.placeholder.com/300x225/666/555/?text=Placeholder+Image" alt="" class="">
          <img src="https://via.placeholder.com/300x225/666/555/?text=Placeholder+Image" alt="" class="">
          <img src="https://via.placeholder.com/300x225/666/555/?text=Placeholder+Image" alt="" class="">
          <img src="https://via.placeholder.com/300x225/666/555/?text=Placeholder+Image" alt="" class="">
          <img src="https://via.placeholder.com/300x225/666/555/?text=Placeholder+Image" alt="" class="">


          <!-- <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div> -->
        </div>
        <div class="bb-product-right">
          <div class="col-12">{% include dealer-call-to-action.html size="small" %}</div>

          <div class="col-12"><h5 class="mt-5 mb-3">Gallery Examples</h5></div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-12">{% include product-card.html title="Project Title" bricks="<li>Product Name</li><li>Product Name</li>" %}</div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-12">{% include product-card.html title="Project Title" bricks="<li>Product Name</li><li>Product Name</li>"%}</div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-12"><a href="#" class="btn btn-secondary w-100 ">View Gallery</a></div>

          <div class="col-12">{% include find-a-building.html size="small" %}</div>
        </div>
      </div>
    </div>
  </div>
