---
layout: default-2
---

  {% include homepageCarousel.html %}
  <div class="bb-ambient-paver">
    <div class="container" >
      <div class="row justify-content-center py-5">
        <div class="col-10 mb-3 col-sm-6 col-lg-5 mb-lg-0">
          {% include market-card.html class="bb-market bb-market-start" content="Commercial" imgID="img1" image="./assets/images/featured/BeldInd817001.jpg" links='<li><i class="fa fa-image mx-1"></i> <a href="#">View Gallery</a></li><li><i class="fa fa-map-marker mx-2"></i> <a href="#">Buildings near me</a></li>' %}
        </div>
        <div class="col-10 mt-3 col-sm-6 col-lg-5 offset-lg-1 mt-sm-0">
          {% include market-card.html class="bb-market bb-market-start" content="Residential" imgID="img2" image="./assets/images/featured/IMG_0246.JPG" links='<li><i class="fa fa-image mx-1"></i> <a href="#">View Gallery</a></li>' %}
        </div>
      </div>
      <div class="d-flex flex-column text-center py-5">
        {% include dealer-call-to-action.html size="large" %}
      </div>
    </div>
    <div class="container-fluid px-5">
      <div class="px-lg-5">
      {% include select-color.html %}
      <div class="bb-featured py-5">
        <div class="bb-featured-dummy"></div>
        <div class="bb-featured-display">
          <div class="bb-featured-grid">
            <div class="bb-featured-item bb-featured-item-1">{% include featured-card.html brick="vertical" title="Face Brick" image="./assets/images/featured/photo-2667-WebImage.jpg" %}</div>
            <div class="bb-featured-item bb-featured-item-2">{% include featured-card.html brick="vertical" title="Thin Brick" image="./assets/images/featured/WheatfieldVelour-ModBelCali712007.jpg" %}</div>
            <div class="bb-featured-item bb-featured-item-3">{% include featured-card.html brick="vertical" title="Oversized Brick" image="./assets/images/featured/image00024.JPG" %}</div>
            <div class="bb-featured-item bb-featured-item-4">{% include featured-card.html brick="vertical" title="Structural" image="./assets/images/featured/NotreDameCrossroads04.jpg" %}</div>
            <div class="bb-featured-item bb-featured-item-5">{% include featured-card.html brick="vertical" title="Pavers" image="./assets/images/featured/BeldenBelcrest530--47.jpg" %}</div>
            <div class="bb-featured-item bb-featured-item-6">{% include featured-card.html brick="vertical" title="Special Shapes" image="./assets/images/featured/Garnetblendshapes.jpg" %}</div>
            <div class="bb-featured-item bb-featured-item-7">{% include featured-card.html brick="vertical" title="Roman Brick" image="./assets/images/featured/BeldArchTN1019003.jpg" %}</div>
            <div class="bb-featured-item bb-featured-item-8">{% include featured-card.html brick="vertical" title="Glazed Brick" image="./assets/images/featured/TheBearandTheButcherShamrockandLimeGreenGlazeIMG_9473.jpg" %}</div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container" >
      <div class="d-flex flex-column text-center py-5">
        {% include find-a-building.html size="large" %}
      </div>
    </div>
  </div>
