---
layout: default
---

  <div class="bb-ambient-paver">
    <div class="container-fluid" >
      <div class="bb-product-detail pt-3">
        <div class="bb-product-desc-area">

            <!-- <a href="#" class="float-right"><i class="fa fa-angle-left"></i>&nbsp; Return to previous page</a> -->
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Bricks</a></li>
              <li class="breadcrumb-item active" aria-current="page">Commodore</li>
            </ol>
            <h1>Commodore</h1>
            <!-- <p>SPL ID: 00000050</p> -->
            <ul class="nav nav-tabs nav-fill mb-3">
              <li class="nav-item">
                <a class="nav-link active" href="#">Smooth</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Velore</a>
              </li>
            </ul>
            <div class="bb-product-detail-img">
              <img src="./assets/images/bricks/commodore-smooth_41117930645_o.jpg" alt="">
            </div>
            <!-- <table class="table" style="width: fit-content;">
              <tbody>
                <tr>
                  <th scope="row">Standards / Type (Meets grade SW for all)</th>
                  <td>FACE BRICK C216 - FBA<br>THIN BRICK C1088 - FBX</td>
                </tr>
                <tr>
                  <th scope="row">Texture</th>
                  <td>Sand Mold (12)</td>
                </tr>
                <tr>
                  <th scope="row">Comp</th>
                  <td>6,220 psi</td>
                </tr>
                <tr>
                  <th scope="row">CW</th>
                  <td>6.3</td>
                </tr>
                <tr>
                  <th scope="row">IRA</th>
                  <td>13.3</td>
                </tr>
                <tr>
                  <th scope="row">Test Report</th>
                  <td><a href="#"><i class="fa fa-file"></i> Download</a></td>
                </tr>
                <tr>
                  <th scope="row">Cleaning Recommendation</th>
                  <td>Belden Brick recommends using Sure Klean 600® to clean this product. Alternatively EaCo Chem NMD 80® can be used to clean any of our brick. {50L,50L}</td>
                </tr>
              </tbody>
            </table> -->
            <h2>Sizes</h2>
            <ul class="nav nav-tabs nav-fill mb-3">
              <li class="nav-item ">
                <a class="nav-link active" href="#">Face</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Thin</a>
              </li>
            </ul>
            <div class="bb-product-detail-specs table-responsive">
              <table class="table" style="">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Sizes</th>
                    <th scope="col">Width</th>
                    <th scope="col">Height</th>
                    <th scope="col">Length</th>
                    <th scope="col">Thin Flat Back</th>
                    <th scope="col">Thin Dove Tail</th>
                    <th scope="col">Unit/SQ. FT.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Modular</th>
                    <td>3 5/8" / 92mm</td>
                    <td>2 1/4" / 57mm</td>
                    <td>7 5/8" / 194mm</td>
                    <td>5/8" / 16mm</td>
                    <td>3/4" / 19mm</td>
                    <td>6.86</td>
                  </tr>
                  <tr>
                    <th scope="row">Economo Modular</th>
                    <td>3 5/8" / 92mm</td>
                    <td>3 5/8" / 92mm</td>
                    <td>7 5/8" / 194mm</td>
                    <td>5/8" / 16mm</td>
                    <td>3/4" / 19mm</td>
                    <td>4,55</td>
                  </tr>
                  <tr>
                    <th scope="row">Norman</th>
                    <td>3 5/8" / 92mm</td>
                    <td>2 1/4" / 57mm</td>
                    <td>11 5/8" / 295mm</td>
                    <td>5/8" / 16mm</td>
                    <td>3/4" / 19mm</td>
                    <td>4,.57</td>
                  </tr>
                  <tr>
                    <th scope="row">Utility</th>
                    <td>3 5/8" / 92mm</td>
                    <td>3 5/8" / 92mm</td>
                    <td>11 5/8" / 295mm</td>
                    <td>5/8" / 16mm</td>
                    <td>3/4" / 19mm</td>
                    <td>3</td>
                  </tr>
                </tbody>
              </table>
            </div>

        </div>
        <div class="bb-product-list-area">



          <!-- <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div>
          <div class="col-12 col-sm-4 col-lg-6 col-xl-3">{% include product-card.html title="Product Name" %}</div> -->
        </div>
        <div class="bb-product-right">
          <!-- <div class="col-12">{% include dealer-call-to-action.html size="small" %}</div> -->

          <div class="col-12"><h5 class="mt-5 mb-3">Gallery Examples</h5></div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-12">{% include product-card.html title="Project Title" bricks="<li>Product Name</li><li>Product Name</li>" img="commodore_smooth_10_1.jpg" %}</div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-12">{% include product-card.html title="Project Title" bricks="<li>Product Name</li><li>Product Name</li>" img="commodore_smooth_7108.jpg" %}</div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-12"><a href="#" class="btn btn-secondary w-100 ">View Gallery</a></div>

        </div>
      </div>
    </div>
  </div>
