<div class="container-fluid py-5">
  <div class="d-flex">
    <div class="bb-featured px-3 py-3 w-100 bb-vh-20">
      {% include featured-card.html class="h-100" brick="chip" title="Explore by color" image="" %}
    </div>
  </div>
  <div class="d-flex flex-column flex-lg-row">
    <div class="bb-w-lg-50">
      <div class="bb-featured px-3 py-3 w-100 bb-vh-40 bb-vh-sm-60">{% include featured-card.html class="h-100" brick="horizontal" title="Pavers" image="./assets/images/featured/BeldenBelcrest530--47.jpg" %}</div>
      <div class="bb-featured px-3 py-3 w-100 bb-vh-40 bb-vh-sm-60">{% include featured-card.html class="h-100" brick="horizontal" title="Face Brick" image="./assets/images/featured/photo-2667-WebImage.jpg" %}</div>
    </div>
    <div class="bb-featured px-3 py-3 bb-w-lg-25 bb-vh-sm-60">{% include featured-card.html title="Thin Brick" class="h-100" brick="vertical" image="./assets/images/featured/WheatfieldVelour-ModBelCali712007.jpg" %}</div>
    <div class="bb-featured px-3 py-3 bb-w-lg-25 bb-vh-sm-60">{% include featured-card.html title="Oversized Brick" class="h-100" brick="vertical" image="./assets/images/featured/image00024.JPG" %}</div>
  </div>
  <div class="d-flex flex-column flex-lg-row">
    <div class="bb-featured px-3 py-3 bb-w-lg-25 bb-vh-sm-60">{% include featured-card.html class="h-100" brick="vertical" title="Roman Brick" image="./assets/images/featured/BeldArchTN1019003.jpg" %}</div>
    <div class="bb-featured px-3 py-3 bb-w-lg-25 bb-vh-sm-60">{% include featured-card.html class="h-100" brick="vertical" title="Special Shapes" image="./assets/images/featured/Garnetblendshapes.jpg" %}</div>
    <div class="bb-w-lg-50">
      <div class="bb-featured px-3 py-3 w-100 bb-vh-40 bb-vh-sm-60">{% include featured-card.html class="h-100" brick="horizontal" title="Glazed Brick" image="./assets/images/featured/TheBearandTheButcherShamrockandLimeGreenGlazeIMG_9473.jpg" %}</div>
      <div class="bb-featured px-3 py-3 w-100 bb-vh-40 bb-vh-sm-60">{% include featured-card.html class="h-100" brick="horizontal" title="Special Shapes" image="./assets/images/featured/NotreDameCrossroads04.jpg" %}</div>
    </div>
  </div>
</div>
