      {% if include.size == "large" %}
        <h2>Find a Distributor Near You</h2>
        <form class="form-inline justify-content-center my-4">
          <div class="input-group input-group-lg mw-100">
            <input type="text" class="form-control" placeholder="Enter your Zipcode" aria-label="Search Catalog" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
        <p>Lorem ipsum dolor sit amet, nec facer clita et, eos diam altera eruditi ut, platonem dissentias est ne. Nibh tantas pericula cu per. Has ea molestie liberavisse, eu sumo harum tantas eum. Mei te reque philosophia. Sed mutat diceret</p>
      {% endif %}
      {% if include.size == "small" %}
        <h5 class="">Find a Distributor</h5>
        <form class="form-inline justify-content-center my-4">
          <div class="input-group mw-100">
            <input type="text" class="form-control" placeholder="Enter your Zipcode" aria-label="Search Catalog" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      {% endif %}
