
        <h2>Find a Building Using Belden Brick Near You</h2>
        <p>Lorem ipsum dolor sit amet, nec facer clita et, eos diam altera eruditi ut, platonem dissentias est ne. Nibh tantas pericula cu per. Has ea molestie liberavisse, eu sumo harum tantas eum. Mei te reque philosophia. Sed mutat diceret</p>
        <div class="row">
          <div class="col">
            <form class="form-inline">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search color, texture, size…" aria-label="Search Catalog" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
          <div class="col">
            <form class="form-inline">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search color, texture, size…" aria-label="Search Catalog" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" id="button-addon2"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
