      <div class="bb-hero bb-home-hero">
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade h-100" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner h-100">
            <div class="carousel-item h-100 active">
              <div class="bb-backdrop" style="background-image:url('./assets/images/hero/BeldCant415031.jpg');"></div>
              <!-- <img src="./assets/images/hero/BeldCant415031.jpg" class="d-block w-100" alt="..."> -->
              <div class="carousel-caption caption-right carousel-caption--animate d-md-block">
                <h1>The Standard<br/>of Comparison<br/>since 1885</h1>
                <a href="#" class="btn btn-primary btn-lg my-3">Learn More</a>
              </div>
            </div>
            <div class="carousel-item h-100">
              <div class="bb-backdrop" style="background-image:url('./assets/images/hero/JAS_2407.jpg');"></div>
              <!-- <img src="./assets/images/hero/BeldCant415031.jpg" class="d-block w-100" alt="..."> -->
              <div class="carousel-caption caption-right carousel-caption--animate d-md-block">
                <h1>Express <br/>Your Vision</h1>
                <a href="#" class="btn btn-primary btn-lg my-3">Learn More</a>
              </div>
            </div>
            <div class="carousel-item h-100">
              <div class="bb-backdrop" style="background-image:url('./assets/images/hero/BeldInd817001.jpg');"></div>
              <!-- <img src="./assets/images/hero/BeldCant415031.jpg" class="d-block w-100" alt="..."> -->
              <div class="carousel-caption carousel-caption--animate d-md-block ">
                <h1>The Standard of Comparison since 1885</h1>
                <a href="#" class="btn btn-primary btn-lg my-3">Learn More</a>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
