<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<script>
  $( document ).ready( function(){

    bbNavbarStart = true;
    bbMarketStart = true;
    function checkToolbarScroll() {
      let bbNavbarClass = document.getElementById('bb-navbar').classList;
      let bbLogoClass = document.getElementById('bb-logo').classList;
      if(window.innerWidth >= 992 && window.scrollY > document.getElementsByClassName('bb-hero')[0].offsetHeight*.6){
        if(bbNavbarStart){
          bbNavbarClass.remove("bb-navbar-start");
          bbLogoClass.remove('bb-logo-start');
          bbNavbarStart = false;
        };
      }else if(window.innerWidth >= 992 && window.scrollY < document.getElementsByClassName('bb-hero')[0].offsetHeight*.4){
        if(!bbNavbarStart){
          bbNavbarClass.add("bb-navbar-start");
          bbLogoClass.add('bb-logo-start');
          bbNavbarStart = true;
        };
      };

      let bbMarketClass = document.getElementsByClassName('bb-market');
      //if(bbMarketClass != undefined && window.scrollY > document.getElementsByClassName('bb-hero')[0].offsetHeight*.4){
      if(bbMarketClass != undefined && window.scrollY > document.getElementsByClassName('bb-market')[0].offsetHeight*.4){
        if(bbMarketStart){
          Array.from(bbMarketClass).forEach(x=>x.classList.remove("bb-market-start"));
          bbMarketStart = false;
        }
      }else if(bbMarketClass != undefined && window.scrollY > document.getElementsByClassName('bb-market')[0].offsetHeight*.2){
        if(!bbMarketStart){
          Array.from(bbMarketClass).forEach(x=>x.classList.add("bb-market-start"));
          bbMarketStart = true;
        }
      }
    }

    window.addEventListener('scroll', function(e) {
      checkToolbarScroll()
    });

    checkToolbarScroll();

  })
</script>
