<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<script>
  $( document ).ready( function(){

    function checkToolbarScroll() {
      let bbNavbarClass = document.getElementById('bb-navbar').classList;
      let bbNavbarAsideClass = document.getElementById('bb-navbar-aside').classList;
      let bbLogoClass = document.getElementById('bb-logo').classList;
      if(window.innerWidth >= 992 && window.scrollY > document.getElementById('bb-navbar-aside').offsetHeight){
        bbNavbarClass.remove("bb-navbar-start");
        bbNavbarAsideClass.remove("bb-navbar-aside-start");
        bbLogoClass.remove('bb-logo-start');
      }else{
        bbNavbarClass.add("bb-navbar-start");
        bbNavbarAsideClass.add("bb-navbar-aside-start");
        bbLogoClass.add('bb-logo-start');
      };
    }

    window.addEventListener('scroll', function(e) {
      checkToolbarScroll()
    });

    checkToolbarScroll();


    // Array.from(document.getElementsByClassName('bb-featured')).forEach(function(element){
    //   element.addEventListener('mouseenter',function(){
    //       element.querySelector('div.card').style.transform = 'scale(1.1)';
    //       //console.log(element.querySelector('div.card').style.backgroundSize);
    //       //console.log(element.querySelector('div.card').set.style.backgroundSize = 'inherit');
    //   })
    //   element.addEventListener('mouseout',function(){
    //
    //       //element.querySelector('div.card').style.transform = 'scale(1)';
    //   })
    //
    // });

  })
</script>
