
  <button class="btn btn-primary bb-facet-nav" type="button" data-toggle="collapse" data-target="#bb-facet-nav" aria-expanded="false" aria-controls="bb-facet-nav"><i class="fa fa-filter"></i> Filter </button>
  <div class="collapse" id="bb-facet-nav">
    <div class="card mb-4 product-facet">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <a href="#" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Bricks <i class="fa fa-angle-up fa-lg float-right mt-1"></i></a>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="">
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action">Face</a>
          <a href="#" class="list-group-item list-group-item-action">Face</a>
          <a href="#" class="list-group-item list-group-item-action">Oversized</a>
          <a href="#" class="list-group-item list-group-item-action">Structural</a>
          <a href="#" class="list-group-item list-group-item-action active">Pavers</a>
          <a href="#" class="list-group-item list-group-item-action">Special Shapes</a>
          <a href="#" class="list-group-item list-group-item-action">Glazed</a>
        </div>
      </div>
    </div>
    <div class="card mb-4 product-facet">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <a href="#" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Colors <i class="fa fa-angle-up fa-lg float-right mt-1"></i></a>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="">
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action">White</a>
          <a href="#" class="list-group-item list-group-item-action">Gray</a>
          <a href="#" class="list-group-item list-group-item-action active">Tan</a>
          <a href="#" class="list-group-item list-group-item-action">Buff</a>
          <a href="#" class="list-group-item list-group-item-action">Pink</a>
          <a href="#" class="list-group-item list-group-item-action">Red</a>
          <a href="#" class="list-group-item list-group-item-action">Brown</a>
          <a href="#" class="list-group-item list-group-item-action">Black</a>
        </div>
      </div>
    </div>
    <div class="card mb-4 product-facet">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <a href="#" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Sizes <i class="fa fa-angle-up fa-lg float-right mt-1"></i></a>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="">
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action">White</a>
          <a href="#" class="list-group-item list-group-item-action">Gray</a>
          <a href="#" class="list-group-item list-group-item-action active">Tan</a>
          <a href="#" class="list-group-item list-group-item-action">Buff</a>
          <a href="#" class="list-group-item list-group-item-action">Pink</a>
          <a href="#" class="list-group-item list-group-item-action">Red</a>
          <a href="#" class="list-group-item list-group-item-action">Brown</a>
          <a href="#" class="list-group-item list-group-item-action">Black</a>
        </div>
      </div>
    </div>
    <div class="card mb-4 product-facet">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <a href="#" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Texture <i class="fa fa-angle-up fa-lg float-right mt-1"></i></a>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="">
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action">White</a>
          <a href="#" class="list-group-item list-group-item-action">Gray</a>
          <a href="#" class="list-group-item list-group-item-action active">Tan</a>
          <a href="#" class="list-group-item list-group-item-action">Buff</a>
          <a href="#" class="list-group-item list-group-item-action">Pink</a>
          <a href="#" class="list-group-item list-group-item-action">Red</a>
          <a href="#" class="list-group-item list-group-item-action">Brown</a>
          <a href="#" class="list-group-item list-group-item-action">Black</a>
        </div>
      </div>
    </div>
  </div>
