
        <div class="bb-select-color py-5">
          <a href="#" class="bb-color bb-color-white"><span>White</span></a>
          <a href="#" class="bb-color bb-color-cream"><span>Cream</span></a>
          <a href="#" class="bb-color bb-color-gray"><span>Gray</span></a>
          <a href="#" class="bb-color bb-color-tan"><span>Tan</span></a>
          <a href="#" class="bb-color bb-color-buff"><span>Buff</span></a>
          <a href="#" class="bb-color bb-color-pink"><span>Pink</span></a>
          <a href="#" class="bb-color bb-color-red"><span>Red</span></a>
          <a href="#" class="bb-color bb-color-brown"><span>Brown</span></a>
          <a href="#" class="bb-color bb-color-black"><span>Black</span></a>
          <div class="bb-color-desc">
            <h4 class="mr-3 mb-0">Explore by Color</h4>
            <p class="mb-0">Complement and enhance with clay pavers. Express your vision of comfortable living.</p>
          </div>
        </div>
