.bb-hero {
  height: 70vh;
  overflow: hidden;
  // .carousel-inner {
  //   perspective: 2px;
  // }
  .carousel-item {
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     // transform: translateZ(-1px) ;
     transform: scale(1.1);
     // transition: all 2.6s ease-in-out;
     .carousel-caption {
       bottom: auto;
       top: 50%;
     }
  }
  h1 {
    text-shadow: 0 0 .5rem $deep-steel;
  }
}

.bb-product-hero {
  height: 30vh;
  .bb-product-hero-inner {
    overflow: hidden;
  }
  .bb-product-hero-img {
    // background-size: cover;
    // background-position: center;
    // background-attachment: fixed;
    // transform: scale(1.1);
  }
}

@media (min-width: 992px){
  .bb-hero {
    margin-top: $spacer * -9;
    height: 100vh;
    h1 {
      font-size: 5rem;
    }
  }
  .bb-product-hero {
    margin-top: $spacer * -9;
  }
}
