.bb-home-hero {
  // height: 70vh;
  height: 300px;
  overflow: hidden;

  .carousel-item {
     background-size: contain;
     background-position: center;
     background-attachment: fixed;
     // transform: scale(1.1);

     .carousel-caption {
       bottom: auto;
       top: 50%;
     }
  }
  h1 {
    text-shadow: 0 0 .5rem $deep-steel;
  }
}

.bb-product-hero {
  height: 15vh;
  .bb-product-hero-inner {
    overflow: hidden;
  }
}

@media (min-width: 992px){
  .bb-home-hero {
    margin-top: $spacer * -9;
    height: 100vh;
    h1 {
      font-size: 5rem;
    }
  }
  .bb-product-hero {
    margin-top: $spacer * -9;
    height: 30vh;
  }
}
