.bb-home-hero {
  height: 90vh;
  overflow: hidden;

  .carousel-item {
    .bb-backdrop {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      transform: scale(1.1);
    }
    .carousel-caption {
      transform: translateY(-25vh);
      opacity: 0;
      transition: all 1.5s ease-out;
      .btn {
        transform: translateY(15vh);
        opacity: 0;
        transition: all 2s ease-out;
      }
      &.caption-right {
        right: 0;
        left: 50%;
        text-align: left;
      }
      &.caption-left {
        right: 50%;
        left: 0;
        text-align: right;
      }
    }
    &.active {
      .carousel-caption--animate {
        transform: translateY(-15vh);
        opacity: 1;
        .btn {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
  h1 {
    text-shadow: 0 0 .5rem $deep-steel;
  }
}

.bb-product-hero {
  height: 15vh;
  .bb-product-hero-inner {
    overflow: hidden;
  }
}

@media (min-width: 992px){
  .bb-home-hero {
    margin-top: $spacer * -9;
    height: 100vh;
    h1 {
      font-size: 5rem;
    }
  }
  .bb-product-hero {
    margin-top: $spacer * -9;
    height: 30vh;
  }
}
