.bb-products {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-gap: 1rem;
  grid-template-areas:
      "facet-area"
      "product-desc-area"
      "product-list-area"
      "product-gallery"
}

.bb-product-facet-area {
  grid-area: facet-area;
}
.bb-breadcrumb-area {
  grid-area: breadcrumb-area;
}
.bb-product-desc-area {
  grid-area: product-desc-area;
}
.bb-product-list-area {
  grid-area: product-list-area;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bb-product-gallery {
  grid-area: product-gallery;
}

.bb-product-img {
  width: 100%;
}

// @media (min-width: 576px){
@media (min-width: 992px){
  .bb-products {
    grid-template-columns: 20% auto 25%;
    grid-template-rows: auto 1fr;
    grid-gap: 2rem;
    grid-template-areas:
        "facet-area product-desc-area product-desc-area"
        "facet-area product-list-area product-gallery"
  }
  .bb-product-img {
    width: 60%;
  }

}
@media (min-width: 1200px){

  .bb-products {
    grid-template-columns: 15% auto 20%;
    grid-template-rows: auto 1fr;
    grid-gap: 2rem;
    grid-template-areas:
        "facet-area product-desc-area product-gallery"
        "facet-area product-list-area product-gallery"
  }
}
