.bb-products {
  display: grid;
  grid-template-columns: 15% auto 25%;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
  grid-template-areas:
      "facet-area breadcrumb-area breadcrumb-area"
      "facet-area product-desc-area product-desc-area"
      "facet-area product-list-area product-gallery"
}

.bb-product-facet-area {
  grid-area: facet-area;
}
.bb-breadcrumb-area {
  grid-area: breadcrumb-area;
}
.bb-product-desc-area {
  grid-area: product-desc-area;
}
.bb-product-list-area {
  grid-area: product-list-area;
}
.bb-product-gallery {
  grid-area: product-gallery;
}


// @media (min-width: 576px){
//   .bb-featured-dummy {
//     margin-top: 350%;
//   }
//   .bb-featured-grid {
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(8, 1fr);
//     grid-template-areas:
//         "item-1 item-1"
//         "item-2 item-2"
//         "item-3 item-4"
//         "item-3 item-4"
//         "item-5 item-5"
//         "item-6 item-6"
//         "item-7 item-8"
//         "item-7 item-8";
//     grid-gap: 2rem;
//   }
// }
// @media (min-width: 992px){
//   .bb-featured-dummy {
//     margin-top: 100%;
//   }
//   .bb-featured-grid {
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: repeat(4, 1fr);
//     grid-template-areas:
//         "item-1 item-1 item-2 item-3"
//         "item-4 item-4 item-2 item-3"
//         "item-5 item-6 item-7 item-7"
//         "item-5 item-6 item-8 item-8";
//     grid-gap: 3rem;
//   }
// }
