.bb-products {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-gap: 1rem;
  grid-template-areas:
      "product-desc-area"
      "facet-area"
      "product-list-area"
      "product-right"
}

.bb-product-facet-area {
  grid-area: facet-area;
}
.bb-breadcrumb-area {
  grid-area: breadcrumb-area;
}
.bb-product-desc-area {
  grid-area: product-desc-area;
}
.bb-product-list-area {
  grid-area: product-list-area;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.bb-product-right {
  grid-area: product-right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

// .bb-product-img {
//   width: 80%;
//   margin-left: 10%;
//   margin-right: 10%;
//   margin-bottom: $spacer*2;
// }

@media (min-width: 576px){
  .bb-product-img {
    max-width: 100%;
  }
  // .bb-product-img {
  //   float: right;
  //   width: 60%;
  //   margin-left: $spacer*2;
  //   margin-right: 0;
  //   box-shadow: 1rem 1rem 0 $steel-green-alpha-20;
  // }
}
// @media (min-width: 992px){
//   .bb-products {
//     grid-template-columns: 20% auto 25%;
//     grid-template-rows: auto 1fr;
//     grid-gap: 2rem;
//     grid-template-areas:
//         "facet-area product-desc-area product-desc-area"
//         "facet-area product-list-area product-right"
//   }
// }
@media (min-width: 1200px){

  .bb-products {
    grid-template-columns: 15% auto;
    grid-template-rows: auto auto auto;
    grid-gap: 8rem;
    grid-template-areas:
        "product-desc-area product-desc-area"
        "product-right product-right"
        "facet-area product-list-area "
  }
}
