$font-size-base:  1rem !default;

$white:    #fff;
$blue:    #6294A9;
//$indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #e83e8c !default;
$red:     #BB1215;
//$orange:  #fd7e14 !default;
//$yellow:  #ffc107 !default;
//$green:   #28a745 !default;
//$teal:    #20c997 !default;
//$cyan:    #17a2b8 !default;
$tan: #ECECE4;


$primary: $red;
$secondary: $tan;
$link-color: $blue;

$border-radius: 0rem;
$h1-font-size:  $font-size-base * 6;
$h2-font-size:  $font-size-base * 4;

/* custom vars */
//$custom-font-size: 60px;
$steel-green: #646c6c;
$deep-purple: #2c2c34;
$deep-steel: rgba(44, 53, 57, 1);
$deep-steel-alpha-50: rgba(44, 53, 57, .8);
$steel-green-alpha-50: rgba(100, 108, 108, .5);
$steel-green-alpha-20: rgba(100, 108, 108, .2);

$theme-colors: (
  "dark": $deep-steel
);


$card-cap-bg: $white;
// $component-active-bg: $tan;
// $component-active-color: $deep-steel;
$breadcrumb-bg: transparent;
$breadcrumb-padding-y:              0;
$breadcrumb-padding-x:              0;
// $breadcrumb-item-padding:           .5rem !default;
$breadcrumb-bg:                     transparent;
$breadcrumb-border-radius:          0;
